.form {
  border: 2px solid $violet;
  border-radius: 20px;
  background-color: #ffffff;
  &__fieldset {
    padding: 80px;
  }

  &__control {
    display: block;
    width: 100%;
    padding: 7px 16px;
    border: 1px solid $btn-disabled;
    border-radius: 3px;
    transition: all 0.3s;
    &::placeholder {
      font-size: 16px;
      color: #828282;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      color: $gray;
    }

    &:focus:valid {
      border-color: $valid;
    }

    &:focus:invalid {
      border: 1px solid $invalid;
      & + span {
        position: relative;
      }
      & + span:after {
        position: absolute;
        top: 8px;
        left: 0;
        width: 150px;
        font-size: 15px;
        font-family: $museo;
        color: $invalid;
      }
    }

    &.name:focus:invalid {
      & + span:after {
        content: "Min 3 max 20 chars";
      }
    }
    &.email:focus:invalid {
      & + span:after {
        content: "Incorrect email type";
      }
    }

    &.textarea {
      resize: none;
    }
  }

  .btn-base {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
  }
}
