@import "./fonts.scss";
@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: $gray;
}

h1,
h2,
h3,
h4,
h5,
a {
  color: $dark-gray;
  font-family: "Museo-Sans", sans-serif;
}

h1 {
  font-size: 64px;
  line-height: 72px;
}

h2 {
  font-size: 56px;
  line-height: 66px;
}

p {
  line-height: 30px;
}

button {
  &:focus {
    border: 1px solid black;
  }
}

@include phone {
  h1,
  h2 {
    line-height: 44px;
    font-size: 40px;
  }
}
