$breakpoint_md: 767px;
$breakpoint_lg: 1199px;

$violet: #6248ff;
$btn-default: #4f62f6;
$btn-hovered: #7181fc;
$btn-active: #354bf4;
$btn-disabled: #e0e0e0;
$dark-gray: #333333;
$gray: #4f4f4f;
$highlight: rgba(98, 72, 255, 0.1);
$valid: #0eac00;
$invalid: #eb5757;
$museo: "Museo-Sans", sans-serif;
