.itc-select {
  position: relative;
  width: 80px;
}

.itc-select__toggle {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  font-family: "Museo-Sans";
  border: 1px solid black;
  border-radius: 60px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s;
}

.itc-select__toggle::after {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-image: url(../images/caret-down.svg);
  background-size: cover;
  content: "";
}

.itc-select__toggle:focus {
  outline: 1px solid black;
}
.itc-select__toggle:hover {
  background-color: rgb(235, 235, 235);
}

.itc-select_show .itc-select__toggle::after {
  transform: rotate(180deg);
}

.itc-select__dropdown {
  width: 80px;
  position: absolute;
  top: 48px;
  z-index: 2;
  display: none;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.itc-select_show .itc-select__dropdown {
  display: block;
}

.itc-select_show .itc-select__backdrop {
  display: block;
}

.itc-select__options {
  font-size: 15px;
  font-family: "Museo-Sans";
  margin: 0;
  padding: 0;
  list-style: none;
}

.itc-select__option {
  transition: all 0.3s;
  padding: 6px 16px;
}

.itc-select__option_selected {
  background-color: rgb(235, 235, 235);
}

.itc-select__option:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
